name: CHAINCODE

on:
  push:
    branches:
      - 'main'
      - 'develop'
      - 'v[0-9]*'
      - 'release*'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'
      - 'develop'
      - 'release*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Build with Gradle
        run: cd clinical-trials-chaincode && ./gradlew build